@import '../../../styles/variables';

.section{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    width: 100%;
}
.product{
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    color:$color-primary;
    text-transform: uppercase;
    img{
        width: 400px;
    }
    button{
        border:2px solid $color-secondary;
        height: 60px;
        border-radius: 8px;
        color:$color-primary;
        font-size: 1.5rem;
        font-weight: bold;
    }
    button:hover{
        background-color: $color-secondary;
        color:#f2f2f2;
    }
}
.product_info{
    display: flex;
    justify-content: space-between;
}