.section {
  max-width: 1120px;
  margin: 0 auto;
}
.checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    width: 300px;
  }
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
  span {
    max-width: 10%;
    color: #333;
    font-weight: bold;
  }
}
